@(message: String)(implicit flash:Flash)

@main("Welcome to Reactive Web Store"){
  
  <div class="row-fluid">
  	  <BR>
  	  <div class="span12">
		  <div class="row-fluid">
				 <div class="span6">
					         <a href="/product"><img height="42" width="42" src="@routes.Assets.at("images/product.png")"> Manage Products</a><BR>
					   		 <a href="/review"><img height="42" width="42"  src="@routes.Assets.at("images/review.png")"> Manage Reviews</a><BR>
					   		 <a href="/image"><img height="42" width="42"   src="@routes.Assets.at("images/image.png")"> Manage Images</a><BR>
			    </div>
			    <div class="span6">
					      	 <a href="/reports"><img height="42" width="42" src="@routes.Assets.at("images/reports.png")"> Reports </a><BR>
					      	 <a href="/chat/index_socket"><img height="42" width="42" src="@routes.Assets.at("images/chat.png")"> Chat Room </a><BR>
					      	 <a href="/assets/swaggerui/index.html"><img height="42" width="42" src="@routes.Assets.at("images/swagger.png")"> Swagger REST API </a><BR>
			    </div>
		  </div>
	</div>		  
  </div>
   
}
