@(title: String)(content: Html)(implicit flash: Flash)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
		<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/image.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/price.js")" type="text/javascript"></script>
    </head>
    <body>
    	<center><a href='/'><img height='42' width='42' src='@routes.Assets.at("images/rws.png")'></a><h3>@title</h3></center>
		<div class="container">
		
		  @alert(alertType: String) = {
		    @flash.get(alertType).map { message =>
		    <div class="alert alert-@alertType">
		      <button type="button" class="close" data-dismiss="alert">&times;</button>
		      @message
		    </div>
		    }
		  }
		
		  @alert("error")
		  @alert("success")
		
		  @content
		  
		  <a href="/"></a><BR>
		  <button type="submit" class="btn btn-primary" onclick="window.location.href='/'; " >
		    Reactive Web Store - Home
		  </button>
		  
		</div>
    </body>
</html>